footer {
    text-align: center;
    padding: 0.5rem;
    color: var(--usafa-blue);
}

h3 {
    color: var(--oxford-blue-2);
}

td {
    padding: 0.5rem;
}

a,
a:visited {
    color: var(--usafa-blue);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
