:host {
    display: block;
}

code {
    display: block;
    font-family: monospace;
    border-left: 3px solid var(--usafa-blue);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-left: 2rem;
    background-color: var(--manatee);
}
