.columns {
    display: flex;
}

.definition-info {
    flex-grow: 1;
}

textarea {
    border: none;
    width: 100%;
    height: 10rem;
    font: inherit;
    padding: 0;
    margin: 0;
    resize: none;
    outline: none;
}
