:host {
    height: 100%;
    display: flex;
    flex-flow: column;
}

h3 {
    margin-top: 3rem;
}

code {
    font-family: monospace;
    border-left: 3px solid var(--usafa-blue);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-left: 2rem;
    background-color: #f1f1f1;
}

a,
a:visited {
    color: var(--usafa-blue);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
